{% extends 'templates/header.html' %}
{% load fullcalendar_tags %}
{% load widget_tweaks %}

{% block head_title %}Home - {{ block.super }}{% endblock head_title %}

{% block head %}
    {{ block.super }}
    {% load static %}

    {% fullcalendar_css %}        
    {% fullcalendar_print_css %}        
    {% fullcalendar_jquery %}
    {% fullcalendar_jquery_ui %}
    {% fullcalendar_javascript %}
    
    {% calendar_init calendar_config_options %}

    <link rel = "stylesheet" href = "{% static 'css/login.style.css' %}" type = "text/css"/>
{% endblock head %}

{% block content %}
    {% load fullcalendar_tags %}
    {% calendar %}
{% endblock %}
