{% extends 'templates/header.html' %}

{% block head_title %}Logout - {{ block.super }}{% endblock head_title %}

{% block head %}
	{{ block.super }}
	{% load static %}
	<link rel = "stylesheet" href = "{% static 'css/login.style.css' %}" type = "text/css"/>
{% endblock head %}

{% block content %}
	<script>
		function redirect()
		{
			window.location.href = "/";
		}

		setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
	</script>
	
	<div id='Login-Page'>
		<h4 class="col-sm-4 offset-sm-4">Logout</h4>
		<div class="alert alert-success col-sm-4 offset-sm-4" role="alert">
			You have logged out successfully <b>Going back to homepage</b>.
		</div>
	</div>

{% endblock %}
