{% extends 'templates/header.html' %}

{% block head_title %}Възстановяване на парола - {{ block.super }}{% endblock head_title %}

{% block head %}
	{{ block.super }}
	{% load static %}
	<link rel = "stylesheet" href = "{% static 'css/login.style.css' %}" type = "text/css"/>
{% endblock head %}

{% block content %}
<div id='Login-Page'>
	<script>
		function redirect()
		{
			window.location.href = "{% url 'user:login' %}";
		}

		setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
	</script>
	<h4 class="col-sm-4 offset-sm-4">Успешна промяна на парола</h4>
	<div class="alert alert-success col-sm-4 offset-sm-4" role="alert">
		Успешна промяна на паролата ви!
	</div>
</div>
{% endblock %}
