{% extends 'templates/header.html' %}
{% load widget_tweaks %}

{% block head_title %}Recover password - {{ block.super }}{% endblock head_title %}

{% block head %}
	{{ block.super }}
	{% load static %}
	<link rel = "stylesheet" href = "{% static 'css/login.style.css' %}" type = "text/css"/>
{% endblock head %}

{% block content %}
	<div id='Login-Page'>
		<h4 class="col-sm-4 offset-sm-4">Recover your password</h4>

		<form method="post">
			{% csrf_token %}
			{% for field in form.visible_fields %}

				{% if field.errors %}
					{% for error in field.errors %}
						<p>{{ error }}</p>
					{% endfor %}
				{% endif %}

				<div class="form-group">
					<div class="col-sm-2 offset-sm-5">
						{% render_field field class="form-control" required="true" placeholder=field.label.capitalize %}
					</div>
				</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-2 offset-sm-5">
					<input class="btn btn-primary" type="submit" value="Възстанови" />
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</div>
		</form>
	</div>
{% endblock %}
